@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100vh;
  background-color: white;
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: #18181a;
  /* background: radial-gradient(circle, rgba(31,28,43,1) 0%, rgba(64,66,77,1) 100%); */
}

